@model Exemplo.Models.Manutençao

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Tem a certeza que deseja apagar isto?</h3>
<div>
    <h4>Manutençao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataManutençao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataManutençao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reparaçao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparaçao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preço)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viatura.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viatura.Matricula)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> 
            <a class="btn btn-primary" href="@Url.Action("Index")"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </div>
    }
</div>
