@model Exemplo.Models.Manutençao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manutençao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataManutençao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataManutençao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reparaçao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reparaçao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preço)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preço)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viatura.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viatura.Matricula)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href="@Url.Action("Edit", new {  idViatura = Model.Id_Viatura})"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-primary" href="@Url.Action("Index")"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>