@model IEnumerable<Exemplo.Models.Viatura>

@{
    ViewBag.Title = "Index";
}

<h2>Viatura</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Create")"><span class="glyphicon glyphicon-plus"></span></a>
</p>

<form class="form-inline" action="/Viatura" method="get" style="margin-bottom: 10px">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Pesquisar..." name="pesquisa">
    </div>
    <button class="btn btn-primary" type="submit">Procurar</button>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.NºProcedimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.PedidoCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combustivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreçoTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Matricula)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contrato.NºProcedimento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Contrato.PedidoCompra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Combustivel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PreçoTotal)
    </td>

    <td>
        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = item.Id_Viatura})"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-primary" href="@Url.Action("Details", new { id = item.Id_Viatura})"><span class="glyphicon glyphicon-search"></span></a>
        <a class="btn btn-primary" href="@Url.Action("Delete", new { id = item.Id_Viatura})"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
}

</table>
