@model Exemplo.Models.Kilometros

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kilometros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataRegisto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRegisto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Viatura.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Viatura.Matricula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Viatura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
