<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestão de Frota de Automóveis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Utilizador", "Index", "Utilizador")</li>
                    <li>@Html.ActionLink("Contrato", "Index", "Contrato")</li>
                    <li>@Html.ActionLink("Despesa", "Index", "Despesa")</li>
                    <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                    <li>@Html.ActionLink("Kilometros", "Index", "Kilometros")</li>
                    <li>@Html.ActionLink("Manutençao", "Index", "Manutençao")</li>
                    <li>@Html.ActionLink("Utilização Permanente", "Index", "UP")</li>
                    <li>@Html.ActionLink("Utilização Temporaria", "Index", "UT")</li>
                    <li>@Html.ActionLink("Viatura", "Index", "Viatura")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Miguel Gomes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
