@model Exemplo.Models.Contrato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedidoCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PedidoCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NºProcedimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NºProcedimento)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id_Contrato})"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-primary" href="@Url.Action("Index")"><span class="glyphicon glyphicon-arrow-left"></span></a>
</p>
